@use "../../shared/scss/helpers/" as *;

.productList {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(15, 10);
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
    }

    @include mobile {
      gap: rem(14);
    }

    @include mobile-s {
      gap: rem(4);
    }
  }

  &__wide {
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
  }

  &__loading {
    @include flex-center;
    flex-direction: column;
    gap: rem(16);
    padding: rem(60) 0;

    &_text {
      font-size: rem(16);
      color: var(--color-medium-gray);
    }
  }

  &__empty {
    text-align: center;
    padding: rem(60) rem(20);

    &_title {
      font-size: fluid(25, 20);
      font-weight: 600;
      margin-bottom: rem(8);
    }

    &_text {
      font-size: fluid(18, 15);
      color: var(--color-medium-gray);
    }
  }
}
