@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark-gray);
  font-family: var(--font-family-CeraPro-Regular);
  font-weight: 400;
}


h1, .h1 {
  @include fluid-text(75, 46);

  line-height: 0.8;
  font-weight: 900
}

h2, .h2 {
  @include fluid-text(51, 30);

  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(45, 30);
}

h4, .h4 {
  @include fluid-text(26, 20);
}

h5, .h5 {
  @include fluid-text(23, 15);
}

h6, .h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

ul {
    font-family: var(--font-family-CeraPro-Regular);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-black);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
} 