@use "../../shared/scss/helpers/" as *;


.card {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  }
}

.card__link {
  display: block;
  text-decoration: none;
  color: inherit;

  outline: none;

  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    border-radius: 12px;
  }
}

.card__imageContainer {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  // анимация зума
  transition: transform 0.3s ease;
}

.card:hover .card__image {
  transform: scale(1.05);
}

.card__content {
  padding: 16px;
}

.card__title {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  color: #333;


  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__description {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #666;

  -webkit-box-orient: vertical;
  overflow: hidden;
}
