@use "../../shared/scss/helpers/" as *;

.group {
  border: 0;
  padding: 0;
  margin: 0 0 24px;

  &__legend {
    margin-bottom: 12px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__label {
    cursor: pointer;
  }
}
